<section class="page-hero">
  <div class="container">
    <h1>Contact Us</h1>
    <p>
      We're here to help — reach our support team for bookings, custom packages, and travel
      guidance.
    </p>
  </div>
</section>

<!-- Main -->
<main class="section">
  <div class="container contact-grid">
    <app-contact-form></app-contact-form>
    <app-office-info></app-office-info>
  </div>
  <div id="googleMap">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.408489159614!2d78.36597957516612!3d17.440152083456034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93fa0a602733%3A0x3192388afb17491!2sDeloitte%20Tower%203!5e0!3m2!1sen!2sin!4v1758272877303!5m2!1sen!2sin"
      width="70%"
      height="450"
      style="border: 0; border-radius: 20px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3)"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
