header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.logo img {
  height: 55px;
  width: auto;
  object-fit: contain;
  margin-left: 30px;
}


.logo::after {

  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%) rotate(15deg);
  font-size: 22px;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  letter-spacing: 3px;
}

.logo:hover::after {
  transform: translateY(-50%) rotate(360deg);
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.nav-menu {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #e14c50;
}

.nav-link.active {
  padding: 6px 14px;
  background: #ff6600;
  color: white;
  border-radius: 20px;
}



button {
  border: 0;
  background: #fff;
}

#closeButton {
  font-size: x-large;
  color: black;
}

#closeButton:hover {
  color: #ff6600;
}

@media(max-width:680px) {
  #closeButton {
    display: block;
    position: relative;
    right: 30px;

  }

  .nav-menu {
    gap: 10px;
  }
}

@media(min-width:680px) {
  #closeButton {
    display: none;
  }

}
